.vagrant
*.vdi
*.keyring
fetch/*
group_vars/all
group_vars/mons
group_vars/osds
group_vars/mdss
group_vars/rgws
group_vars/restapis
*.DS_Store
*.pyc
*.sw?
.tox
ceph-ansible.spec
*.retry
*.pytest_cache
*.tgz
*.bz2
*.gz
*.docx
*.pdf
__debug_bin
operator/bin/*
operator/pkg/*